.about-content {
    margin-bottom: 2rem;
    padding: 2rem;
    border: 2px solid rgb(153, 129, 51);
    border-radius: 10px;
    background-color: rgb(236, 238, 207);
    
    & h2 {
        font-size: 1.8em;
        font-weight: 400;
    }

    & p {
        font: 16px/1.5 Georgia, serif;
    }
}

blockquote {
    float: right;
    font-style: italic;
    width: 50%;
    padding-left: 1rem;
    margin: 0;
    border-left: 2px solid gray;

    & cite {
        margin-top: 1rem;
        float: right;
    }
}

.tab { 
    margin-left: 20px; 
}


.about-content a {
    @include bp(mobile) {
        display: block;     
    }
}

