.event {
    display: flex;
    height: 30em;
    background: #EEE;
    margin-bottom: 5em;
    
    @include bp(mobile) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.event-media {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;
    @include bp(mobile) {
        order: 2;
    }
}

.event-media ::before {
    content: '';
    display: block;
    padding-top: 80%;
}

.event-media img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;

    @include bp(desktop) {
        transition: transfrom 0.3s ease-in;
    }     
}

@include bp(desktop) {
    .event-media:hover img{
        cursor: zoom-in;
        transform:  translate(-50%, -50%) scale(1.2);  
        z-index: 1000;
    }
}

.event-content {
    background: rgb(236, 238, 207);
    margin: 1em 1em 1em -2em;
    padding: 3em;
    position: relative;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7);
    flex-shrink: 1;

    @include bp(mobile) {
        order: 1;
        margin: 0;
    }
}

@include bp(desktop) {
    .event:nth-child(even) .event-media{
        order: 2;
    
    }    
    .event:nth-child(even) .event-content{
        margin: 1em -2em 1em 1em;
    }
}

.read-more-state {
    display: none;
}
  
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
  
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0.2em;
    color: rgb(153, 129, 51);
    border: 2px solid rgb(153, 129, 51);
    border-radius: 8px;
}

.read-more-trigger:hover {
    color: #3498db;
}

