.site-nav ul {
    display: flex;
    align-items: center;
}

.site-nav li {
    display: block;
    list-style: none outside;
}

.site-nav a {
    padding: 0.5em 0.5em;
    margin-right: 1em;
    display: block;
    color: #333;
    font-weight: 500;
    transition: border color 0.2s ease-in;
    border: 2px solid rgb(153, 129, 51);
    border-radius: 8px;
}

.site-nav a:hover,
.site-nav li.selected a{
    color: #3498db;
}


