.site-nav ul {
    display: flex;
    align-items: center;
}

.site-nav li {
    display: block;
    list-style: none outside;
}

.site-nav a {
    padding: 0.5em 1em;
    display: block;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease-in;
}

.site-nav a:hover,
.site-nav li.selected a{
    color: #3498db;
}


