.site-footer {
	background-color: rgb(188, 168, 144)
}

.site-footer .site-wrapper {
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-footer .site-footer-social a {
	background: rgba(0,0,0,0.3);
	color: #FFF;
}

.site-footer ul {
	display: flex;
    align-items: center;
}

.site-footer li {
	display: block;
    list-style: none outside;
}

.site-footer a {
    padding: 0.5em 1em;
    display: block;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease-in;
}

.site-footer a:hover {
    color: #3498db;
}