.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em 0;
	background-color: rgb(236, 238, 207)
}

.site-branding {
	padding: 1rem;
}

.site-media {
    height: 50vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
	justify-content: center;
	margin-bottom: 3rem;
}

.site-media::before {
    display: block;
    content: '';
	background: rgb(19, 41, 48);
	opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.site-media img {
    display: block;
    width: 100%;
    height: auto;
}

.site-media .site-wrapper {
    width: 100%;
    color: #FFF;
    z-index: 10;
    position: relative;
    font-size: 1.4em;
    padding-right: 20em;
}

