.site-header {
	padding: 1.5em 0 2em 0;
	background-color: rgb(236, 238, 207)
}

.site-branding {
	padding-bottom: 0.5rem;
}

.site-header-content {
    display: flex;
    justify-content: space-between;
}

.site-header-media {
    height: 50vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
	justify-content: center;
	margin-bottom: 3rem;
}

.site-header-media::before {
    display: block;
    content: '';
	background: rgb(19, 41, 48);
	opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.site-header-media img {
    display: block;
    width: 100%;
    height: auto;
}

.log-in-button, .register-button {
    border: 2px solid rgb(153, 129, 51);
    background-color: rgb(175, 182, 87);
    border-radius: 4px;
    transition: color 0.5s ease-in;
    padding: 0.5em;
    margin-left: 0.5em;

    &:hover {
        color: #369;
        cursor: pointer;
    }
}
