.site-footer {
	background-color: rgb(236, 238, 207);
}

.site-footer .site-wrapper {
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.site-footer ul {
	display: flex;
    align-items: center;
}

.site-footer li {
	display: block;
    list-style: none outside;
}

.site-footer a {
    padding: 0.5em 1em;
    display: block;
    transition: color 0.2s ease-in;
}

.site-footer a:hover {
    color: #3498db;
}

.site-footer-social a {
	font-size: 1.5rem;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.copyright {
    opacity: 0.3;
	transition: opacity 0.3s ease-in;
}

.copyright:hover {
    opacity: 1;
}