.site-footer {
	background-color: rgb(236, 238, 207);
	min-height: 20em;

	@include bp(mobile) {
        display: block;
        width: 100%;
   }
}

.site-footer .site-wrapper {
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include bp(mobile) {
		flex-wrap: wrap;
		padding: 1rem;
		justify-content: center;
   }
}

//Footer list
.site-footer ul {
	display: flex;
    align-items: center;
}

.site-footer li {
	display: block;
    list-style: none;
}

.site-footer a {
    padding: 0.5em 1em;
    display: block;
    transition: color 0.2s ease-in;
}

.site-footer a:hover {
    color: #3498db;
}

.site-footer-social a {
	font-size: 1.5rem;
}

//Dropdown hover
.hover-dropdown {
	position: relative;
	display: inline-block;
}
  
.hover-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.hover-dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.hover-dropdown-content a:hover {
	background-color: #ddd;
}

.hover-dropdown:hover .hover-dropdown-content {
	display: block;
}


//Dropdown contacts
.dropbtn {
	color: rgb(153, 129, 51);
	background-color: rgb(236, 238, 207);
	padding: 8px;
	border: 2px solid rgb(153, 129, 51);
	border-radius: 8px;
	cursor: pointer;
}
  
.dropbtn:hover {
	color: #3498db;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-bottom: 5rem;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
}
  
.show {display: block;}

//Contacts form
.site-footer input, .site-footer select, .site-footer textarea {
	margin:0.2rem;
	padding: 0.2rem;
	width: 12rem;
	border: 2px solid rgb(153, 129, 51);
	border-radius: 8px; 
	box-sizing: border-box; 
	position: relative;
	font-size: 14px;
	font-family: Verdana, sans-serif;
}
  
input[type=submit] {
	border: 2px solid rgb(153, 129, 51);
	background-color: rgb(175, 182, 87);
	border-radius: 8px;
	transition: color 0.5s ease-in;
	padding: 0.5rem;
	color: white;
	
	&:hover {
		cursor: pointer;
		color: #3498db;
	}
}


//Copyright
.copyright {
    opacity: 0.3;
	transition: opacity 0.3s ease-in;
	position: relative;
	top: 3em;
}

.copyright:hover {
    opacity: 1;
}