<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
</head>
<body>
    <header class="site-header">
        <div class="site-wrapper">
            <h1 class="site-title">
                <a href="#">Personal</a>
            </h1>
        </div>
    </header>


    {{content}}
    
    <footer class="site-footer">
        <div class="site-wrapper">
            <section class="site-footer-content">
                <div>More info</div>
                <ul class="university-info-list">
                    <li>About us</li>
                    <li>Past events</li>
                    <li>Our story</li>
                </ul>
                </section>
            <section class="site-footer-social">
                <div>Find us</div>
                <ul class="university-courses-list">
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>